/* Estilos adicionales para el portafolio de diseñador gráfico */

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.header {
    background-color: #fff;
    padding: 1em;
}

.main {
    padding: 2em;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project p {
    margin-top: 10px;
    font-size: 16px;
}

/* Otras estilizaciones según necesidades del diseñador */
