/* Contenedor principal */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño adaptable para diferentes tamaños de pantalla */
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

/* Encabezado */
.header {
    background-color: #f7eeb3;
    padding: 1em;
}

/* Menú de navegación */
.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation__link {
    color: inherit;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navigation__link--is-active {
    background-color: #000;
    border-radius: 999em;
    color: #fff;
}

/* Contenido principal */
.main {
    padding: 2em;
}

/* Pie de página móvil */
#mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333; /* Cambia el color de fondo según tu diseño */
    color: #fff; /* Cambia el color del texto según tu diseño */
    padding: 1em;
    text-align: center;
}

#mobile-footer-container {
    display: flex;
    justify-content: center;
}

.mobile-link {
    display: flex;
    gap: 10px;
}

.mobile-link a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

/* Otras estilizaciones y ajustes necesarios */
